<div class="main-row">
  <h3>Timesheets for Employee</h3>
</div>
<form method="post" action="/timesheet/create/">
  <table id ="table">
    <td>
    <tr>
      <td>
        Employee Name
      </td>
      <td>
        Work Location
      </td>
      <td>
        Day
      </td>
      <td>
        Start Time
      </td>
      <td>
        End Time
      </td>
      <td>
        Hours
      </td>
    </tr>
    <tr id="1">
      <td>
        <select name="ename" required="true">
          <option disabled selected value> -- select an option -- </option>
          <% @employees.each do |employee| %>
            <option value="<%= employee.id %>"> <%= employee.name %></option>
          <% end %>
        </select>
      </td>
      <td>
        <select name="site" required="true">
           <option disabled selected value> -- select an option -- </option>
          <% @sites.each do |site| %>
            <option value="<%= site.id %>"> <%= site.site_name %></option>
          <% end %>
        </select>
      </td>
      <td>
        <input name="day" required="true" type="date" data-date-inline-picker="true" />
      </td>
      <td>
        <input name="stime" required="true" type="time">
      </td>
      <td>
        <input name="etime" required="true" type="time">
      </td>
      <td>
        <input name="hours" required="true" type="number">
      </td>
    </tr>
  </table>
  <div class="center">
    <a id="add-row" style="color:red;">Add more</a>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    </br>
    <button class="btn" id="btn">Save</button>
    <a href="/admin/login">
      <button class="btn">Cancel</button>
    </a>
  </div>
</form>

<script>
  var obj = {};
  var counter = 1;
  document.getElementById('add-row').addEventListener('click',function addrow() {
    counter ++;
    $('#table').append("<tr id='"+counter+"'><td><select id='ename"+counter+"'><option disabled selected value> -- select an option -- </option><% @employees.each do |employee| %><option value='<%= employee.id %>'> <%= employee.name %></option><% end %></select></td> <td>  <select id='site"+counter+"'><option disabled selected value> -- select an option -- </option><% @sites.each do |site| %> <option value='<%= site.id %>'> <%= site.site_name %></option><% end %>  </select></td>  <td><input id='day"+counter+"' type='date' data-date-inline-picker='true' /></td><td><input id='stime"+counter+"' type='time'></td><td><input id='etime"+counter+"' type='time'></td><td><input id='hours"+counter+"' type='number' step='0.01'></td></tr>");

  });

  // $('#btn').on('click',function() {
  //   var table = document.getElementById('table');
  //   for(var i=counter; i>0; i--) {
  //     obj[i] = {ename: document.getElementById('ename'+i).value, esite: document.getElementById('site'+i).value, eday: document.getElementById('day'+i).value, ehours: document.getElementById('hours'+i).value, stime: document.getElementById('stime'+i).value, etime: document.getElementById('etime'+i).value};
  //   }
  //   console.log(JSON.stringify(obj));
  //   $.ajax({
  //     url: '/timesheet/save/',
  //     method: 'post',
  //     data: obj
  //   });
  // });

</script>
