<h3>Timesheets of <%= @employee.name %></h3>
<div class="form-container">
  <input type="hidden" id="id" value="<%= @employee.id %>">
  <span class="center"><h5>Calculate Hours/Pay</h5></span>
  Starting from <input type="date" id="sweek"> to <input type="date" id="eweek">
  Pay rate (AUD) <input type="number" id="payrate"></br>
  <button class="btn" id="calc-hours-btn">Calculate</button></br>
  <span id="hours-worked"></span></br>
  <span id="pay-rate"></span></br>
  <span id="super"></span>
</div>

<div class="center form-container">
  <input type="date" id="sday"> to <input type="date" id="eday"></br>
  <button id="filter-btn" class="btn">Filter Results</button>
  <a href="/admin/login">
    <button class="btn">Go Back</button>
  </a>
  </br>
  <div id="employee-data">
    <table>
    <tr>
      <th>Employee Name</th>
      <th>Hours</th>
      <th>Day</th>
      <th>Site</th>
    </tr>
    <% @timesheets.each do |timesheet| %>
    <tr>
      <td><%= @employee.name %></td>
      <td><%= timesheet.hours  %></td>
      <td><%= timesheet.day %></td>
      <td><%= Site.find_by(id:timesheet.site_id).site_name %></td>
    </tr>
    <% end %>
    </table>
  </div>
</div>

<script>
    var pay;
    $('#calc-hours-btn').on('click', function() {
      $.ajax({
        url: "/timesheet/hours/",
        method: "get",
        data: {id: $('#id').val(), sweek: $('#sweek').val(), eweek: $('#eweek').val()}
      }).done(function(hours){
        pay = hours * $('#payrate').val();
        $('#hours-worked').text(" Hours Worked - "+ hours );
        $('#pay-rate').text(" Pay - $" + parseInt(hours) * ($('#payrate').val()));
        $('#super').text(" Super - $" + pay * .095);
      });
    });
    $('#filter-btn').on('click', function() {
      $.ajax({
        url: "/timesheet/days/",
        method: "get",
        data: {id: $('#id').val(), sday: $('#sday').val(), eday: $('#eday').val()}
      }).done(function(data) {
        $('#employee-data').empty();
        $('#employee-data').append("<span>Maximum data 30 days</span>");
        $('#employee-data').append("<table id='employee-table'></table>");
        $('#employee-table').append("<tr><th>Hours</th><th>Day</th><th>Site</th></tr>");
        for(var i=0; i<30; i++) {
          if (data[i] != undefined) {
            var hours = data[i]["hours"];
            var day = data[i]["day"];
            var site = data[i]["site_name"]
            $('#employee-table').append("<tr><td>"+hours+"</td><td>"+day+"</td><td>"+site+"</td></tr>");
          }
        }
      });
    });
</script>
