<!DOCTYPE html>
<html>
<head>
  <title>Payroll</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="notice">
      <% if flash[:notice] %>
      <%= flash[:notice] %>
      <% end %>
  </div>
<%= yield %>
<!-- <div class="footer">
  <span>&copy; East West Guarding Victoria 2016</span>
</div> -->
<footer class="footer">&copy; East West Guarding Victoria 2016</footer>

</body>
</html>
